@import '../abstract/variaveis';

nav{
   background-color: $cor-terciaria;
   text-align: center;
   ul{
      li{
         display: inline-block;
         padding: 1rem;
         a{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: $cor-primaria;
            // a:hover do SASS
            &:hover{
               color: $cor-hover;
               text-decoration: underline 3px;
            }
         }
      }
   }
}